/* 
 * General
 */

body {
  background-color: white;
}

/*
 * General - Nav Bar
 */

.nav-pills .nav-link.active {
  background-color: lightblue;
  color: black;
}

.nav-pills .nav-link {
  background-color: white;
  color: black;
}

/*
 * General - Footer
 */

.footer-links .footer-link {
  /* Top Right Bottom Left */
  padding: 0 10px 0 10px;
}

.footer-links .footer-link a {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
}

/*
 * index.html - Home Section
 */

.landing-page-about-btn {
  background-color: lightblue;
  border: none;
  color: black;
}