/* 
 * General
 */

body {
  background-image: url('../img/hero-bg.png');
}

/*
 * General - Nav Bar
 */

.nav-pills .nav-link.active {
  background-color: lightskyblue;
  color: black;
}

.nav-pills .nav-link.active:hover {
  background-color: lightskyblue;
  color: black;
}

.nav-pills .nav-link {
  background-color: none;
  color: white;
  margin: 0 5px 0 5px;
}

.nav-pills .nav-link:hover {
  background-color: lightblue;
  color: black;
}

/*
 * General - Footer
 */

.footer-links .footer-link {
  /* Top Right Bottom Left */
  padding: 0 1% 0 1%;
}

.footer-links .footer-link a {
  color: white;
  text-decoration: none;
}

.footer-links .footer-link a:hover {
  background-color: lightblue;
  color: black;
}

/*
 * index.html - Home Section
 */

.landing-page-box {
  color: white;
  padding: 15% 0 15% 0;
}

.landing-page-about-btn {
  background-color: lightskyblue;
  border: none;
  color: black;
}

.landing-page-about-btn:hover {
  background-color: lightblue;
  color: black;
}